body {
  padding-top: 7rem;
  position: relative;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    padding-bottom: 50px;
}

.hellomakers {
	background: url(images/jumbos/placeholderImage.jpg) no-repeat center;
	background-size: cover;
	position: absolute;
	width: 100%; 
    height: 500px; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
}

.considerDonating {
    background: url(images/jumbos/testdonimg.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    width: 100%; 
    height: 500px; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
}

.BSUmap {
    background: url(images/jumbos/bsumap.*) no-repeat center;
    background-size: cover;
    position: absolute;
    width: 100%; 
    height: 500px; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block; 
}

.teamBigPic {
    background: url(images/jumbos/teamTest.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    width: 100%; 
    height: 500px; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
}

.overlay { 
	background-color: #FFFFFF; 
	position: absolute;
	opacity: 0.50; 
	width: 100%; 
    height: 500px; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.container {
    padding-top: 30px;
	z-index: 3;
}

.description {
	position:relative;
	top:200px;
    padding-bottom: 200px;
}

footer {
    position: absolute;
    bottom:0;
    width:100%;
}

.tab {
    padding-left:5em;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.teamPerson {
    padding: 5px;
}

.innovationImg {
    padding:5px;
}

.smallerFont {
    font-size: 11px;
}

.lineupsidebar {
    
}



