body {
  padding-top: 2rem;
}

.jumbotron {
	background: no-repeat center right fixed url(placeholderImage.jpg);

	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	position: absolute;
	padding-top: 20%;  
	top: 0px; bottom: 0px; 
	left: 0px; right: 0px; 
	z-index: 2; 
	text-align: center;
}

.jumbotron .overlay { 
	background-color: #FFFFFF; 
	position: absolute; 
	top: 0px; 
	bottom: 0px; 
	left: 0px; 
	right: 0px; 
	opacity: 0.50; 
	filter:alpha(opacity=75); 
	z-index: -1; 
}

.description {
	padding-top: 800px;
}




